html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

address {
    font-style: normal;
}

button {
    display: inline-block;
    appearance: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    font: inherit;

    &:focus {
        outline: 0;
    }
}

input,
textarea {
    appearance: none;
    border: 0;
    font: inherit;
    outline: 0;
}