$light: #ffffff;
$light100: #f2f2f2;
$light200: #f5f5f5;

$txt-dark: #121212;
$txt-normal: #505050;
$txt-light: #4f4f4f;

$bg-dark: #31352B;
$bg-normal: #c1c1c1;
$bg-light: #f6f6f6;

$special-dark: #4d810c;
$special: #63a60e;
$special-normal: #e0edcf;
$special-light: #eff6e7;

$accent-dark: #cf3e3b;
$accent-normal: #ff7a00;
$accent-light: #ffb800;

$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

$os: 'OpenSans',
serif;
$rd: 'Ruda';

$xl: 1320;
$lg: 992;
$md: 767;
$sm: 576;
$lm: 470;

