$white: #ffffff;
$black: #000000;


$dark-900: #121212;
$dark-800: #31352B;
$dark-600: #4f4f4f;
$dark-500: #505050;


$silver-700: #c4c4c4;
$silver-600: #c1c1c1;
$silver-300: #f2f2f2;
$silver-200: #ebebeb;
$silver-100: #f6f6f6;

$green-1000: #4d810c;
$green-900: #63a60e;
$green-200: #e0edcf;
$green-100: #eff6e7;

$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;

$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

$opensans: 'OpenSans', sans-serif;
$ruda: 'Ruda', sans-serif;

$xl: 1320;
$lg: 992;
$md: 767;
$sm: 576;
$lm: 470;
$ml: 370;

