.header-top {
    background-color: $bg-dark;
    text-transform: uppercase;
    color: $light;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 0;
    font-weight: $fw-700;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__hrefs {
        display: flex;
        margin-right: 20px;

        @include max-w($md) {
            margin-right: 0;
        }
    }

    &__href {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__items {
        display: flex;

        @include max-w($xl) {
            display: none;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__icon {
        fill: $light;
        width: 32px;
        height: 22px;
        margin-right: 12px;
    }

    &__link,
    &__href {
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.3;
        }
    }

    &__href-text {
        @include max-w($md) {
            display: none;
        }
    }

    &__href {
        &:not(:last-child) {
            @include max-w($md) {
                margin-right: 30px;
            }
        }
    }
}

.header-bottom__line,
.mobile-menu__line {
    position: relative;
    height: 1px;
    width: 19px;
    background-color: $special;
    margin-right: 23px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 1px;
        width: 25px;
        background-color: $special;
    }

    &::after {
        top: 7px;
    }

    &::before {
        bottom: 7px;
    }

}

.header-bottom {
    background-color: $special;
    padding: 25px 0;
    position: relative;

    @include max-w($md) {
        padding: 11px 0;
    }

    &__inner {
        display: flex;
    }

    &__logo {
        margin-right: 24px;

        .logo__img {
            @include max-w($md) {
                display: none;
            }

            &--short {
                display: none;

                @include max-w($md) {
                    display: block;
                }
            }
        }
    }

    &__btn {
        position: relative;
        align-self: flex-start;
        margin-right: 30px;
        font-size: 15px;
        padding: 14px 38px 14px 18px;
        line-height: 1.4;
        letter-spacing: 1px;
        font-weight: $fw-600;

        @include max-w($md) {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            background-image: url("../img/svg/arrow-down.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 7px;
            height: 7px;
        }

        &:hover,
        &:active {
            background-color: $special-normal;
        }
    }

    &__search {
        margin-right: 35px;
        align-self: flex-start;

        @include max-w($xl) {
            margin-right: 0;
        }
    }

    &__nav {
        display: flex;
        align-items: top;
        align-self: center;

        @include max-w($xl) {
            margin-left: auto;
        }
    }

    &__link {
        padding: 5px;
        align-self: baseline;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: relative;
        border-radius: 3px;
        transition: background-color 0.3s;

        &:not(:last-child) {
            margin-right: 22px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &--search {
            display: none;

            @include max-w($xl) {
                display: block;
            }
        }

        &--like,
        &--account {
            @include max-w($md) {
                display: none;
            }
        }
    }

    &__icon {
        fill: $light;
        width: 30px;
        height: 30px;
    }

    &__num {
        position: absolute;
        top: -5px;
        right: 20px;
        background-color: $light;
        padding: 4px;
        line-height: 1;
        font-size: 10px;
        color: $accent-dark;
        border-radius: 50%;
        font-weight: $fw-600;
    }
}

.search {
    display: flex;
    max-width: 575px;
    width: 100%;

    @include max-w($xl) {
        display: none;
    }

    &--mobile {
        display: none;

        @include max-w($xl) {
            position: absolute;
            bottom: -46%;
            right: 0;
            z-index: 50;

            @include max-w($md) {
                bottom: -75%;
            }
        }

        .search__field {
            max-width: 275px;
        }

        .search__enter {
            border: 1px solid $bg-dark;

            &:focus {
                border: 0;
            }
        }

        .button {
            border-radius: 0;
        }
    }

    &--active {
        display: flex;
    }

    &__field {
        max-width: 420px;
        width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 17px;
            transform: translateY(-50%);
            background-image: url("../img/svg/search.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__enter {
        padding: 15px 15px 15px 50px;
        width: 100%;
        color: $bg-normal;

        &::placeholder {
            color: $bg-dark;
        }

        &:focus {
            box-shadow: 0 0 0 3px #e0edcf;
        }
    }
}

.mobile {
    display: none;
    width: 30px;
    background-color: transparent;
    z-index: 110;
    overflow: scroll;

    @include max-w($xl) {
        display: flex;
        align-items: center;
    }

    &__line {
        width: 30px;
        height: 2px;
        position: relative;
        background-color: $light;

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            background-color: $light;
            width: 100%;
            left: 0;
        }

        &::after {
            top: -10px;
        }

        &::before {
            bottom: -10px;
        }
    }
}

.mobile-menu {
    overflow: auto;
    transform: translateY(-100%);
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1;
    color: $bg-dark;
    padding: 25px 0;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 1000;
    background-color: $light;
    max-width: 300px;
    transition: transform 0.3s;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0 15px;
    }

    &__logo {
        margin-right: 10px;
        display: block;
    }

    &__close {
        background-color: transparent;
        padding: 11px;
        align-self: self-start;

        &:active {
            background-color: rgba(193, 193, 193, 0.3);
            border-radius: 3px;
        }
    }

    &__close-icon {
        width: 18px;
        height: 18px;
        fill: $txt-dark;
    }

    &__account {
        background-color: $special;
        padding: 8px 15px;
        display: flex;
        color: $light;
        align-items: center;
    }

    &__icon {
        fill: $light;
        width: 25px;
        height: 30px;
        margin-right: 15px;
    }

    &__btn {
        color: $bg-dark;
        background-color: transparent;
        display: flex;
        padding: 15px;
        align-items: center;
        font-weight: $fw-600;
    }

    &__line {
        background-color: $bg-dark;
        margin-right: 20px;
        display: inline-block;

        &::before,
        &::after {
            background-color: $bg-dark;
        }
    }

    &__contacts {
        padding: 25px 15px;
        position: relative;
        margin-bottom: 25px;
        line-height: 1.2;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $bg-normal;
            opacity: 0.3;
            left: 0;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &__contacts-icon {
        fill: $bg-dark;
        width: 25px;
        height: 30px;
        margin-right: 15px;
    }

    &__contacts-link {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 18px;
        }
    }

    .social {
        &__icon {
            fill: $bg-dark;
        }
    }

    &__items {
        display: flex;
        padding: 0 15px 25px;
        flex-direction: column;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.body.lock{
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 100;
    }
} 


.mobile-menu.mobile-menu--active {
    transform: translateY(0);
}