<header class="header header--mobile">
    <nav class="header__navigation">
        <div class="navigation__info">
            <div class="container">
                <div class="navigation-info">
                    <div class="navigation-info__menu">
                        <button class="navigation-info__burger" type="button">
                            <span class="navigation-info__line"></span>
                            <span class="visually-hidden">
                                Открыть меню
                            </span>
                        </button>
                        <div class="navigation-user">
                            <div class="navigation-user__header">
                                <a class="logo" href="#">
                                    <img class="logo__img" src="img/svg/logo-menu.svg" alt="логотип" width="200" height="60">
                                </a>
                                <button class="navigation-user__close" type="button">
                                    <svg class="basket__icon">
                                        <use xlink:href="img/sprite.svg#close-icon"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        Закрыть меню
                                    </span>
                                </button>
                            </div>
                            <div class="navigation-user__body">
                                <div class="navigation-user__account">
                                    <svg class="navigation-user__icon">
                                        <use xlink:href="img/sprite.svg#user-account-icon"></use>
                                    </svg>
                                    <a class="navigation-user__link" href="#">
                                        Вход
                                    </a> |
                                    <a class="navigation-user__link" href="#">
                                        Регистрация
                                    </a>
                                </div>
                                <button class="navigation-user__btn" type="button">
                                    <span class="navigation-user__line"></span>
                                    Каталог продуктов
                                </button>
                                <address class="navigation-user__contacts">
                                    <a class="navigation-user__text navigation-user__text--link" href="tel:+7907288365"> 
                                        <svg class="navigation-user__contacts-icon">
                                            <use xlink:href="img/sprite.svg#phone-icon"></use>
                                        </svg>
                                        +7 907 288 365
                                    </a>
                                    <p class="navigation-user__text">
                                        <svg class="navigation-user__contacts-icon">
                                            <use xlink:href="img/sprite.svg#pin-icon"></use>
                                        </svg>
                                        Санкт-Петербург, ул. Ленина, 1
                                    </p>
                                    <ul class="social">
                                        <li class="social__item">
                                            <a class="social__link" href="#"
                                                style="background-image: url('img/svg/social/facebook.svg');">
                                                <span class="visually-hidden">
                                                    Открыть facebook
                                                </span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a class="social__link" href="#"
                                                style="background-image: url('img/svg/social/youtube.svg');">
                                                <span class="visually-hidden">
                                                    Открыть youtube
                                                </span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a class="social__link" href="#"
                                                style="background-image: url('img/svg/social/telegram.svg');">
                                                <span class="visually-hidden">
                                                    Открыть telegram
                                                </span>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a class="social__link" href="#"
                                                style="background-image: url('img/svg/social/instagram.svg');">
                                                <span class="visually-hidden">
                                                    Открыть instagram
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </address>
                                <ul class="navigation-user__items">
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Доставка
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            О нас
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Контакты
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Акции
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Вакансии
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Отзывы
                                        </a>
                                    </li>
                                    <li class="navigation-user__item">
                                        <a class="navigation-user__link" href="#">
                                            Публичная оферта
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="navigation-info__items">
                            <li class="navigation-info__item">
                                <a class="navigation-info__link" href="#">
                                    <svg class="navigation-info__icon">
                                        <use xlink:href="img/sprite.svg#delivery-icon"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        адрес и время доставки
                                    </span>
                                </a>
                            </li>
                            <li class="navigation-info__item">
                                <a class="navigation-info__link" href="tel:+89321850000">
                                    <svg class="navigation-info__icon">
                                        <use xlink:href="img/sprite.svg#phone-icon"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        горячая линия 24/7
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-body">
            <div class="container">
                <div class="navigation-body__content">
                    <a class="navigation-body__logo logo" href="#">
                        <img class="logo__img" src="img/svg/logo-mobile.svg" alt="логотип" width="36" height="40">
                    </a>
                    <ul class="navigation-account">
                        <li class="navigation-account__item">
                            <button class="navigation-account__search" type="button">
                                <svg class="navigation-account__icon">
                                    <use xlink:href="img/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    Поиск
                                </span>
                            </button>
                            <form class="search">
                                <div class="search__field">
                                    <label class="visually-hidden" for="search">Я ищу</label>
                                    <input class="search__enter" id="search" type="text" placeholder="Я ищу..."name="search" required>
                                </div>
                                <button class="search__button button button--dark" type="submit">
                                    поиск
                                </button>
                            </form>
                        </li>
                        <li class="navigation-account__item">
                            <div class="navigation-account__basket">
                                <button class="navigation-account__link navigation-account__link--basket" type="button">
                                    <span class="visually-hidden">
                                        Корзина
                                    </span>
                                    <svg class="navigation-account__icon">
                                        <use xlink:href="img/sprite.svg#user-basket-icon"></use>
                                    </svg>
                                    <span class="navigation-account__num">12</span>
                                </button>
                                <div class="basket">
                                    <div class="basket__header">
                                        <div class="basket__text">
                                            <span class="basket__title">
                                                Корзина
                                            </span>
                                            <button class="basket__clear" type="button">
                                                очистить корзину
                                            </button>
                                        </div>
                                        <button class="basket__close" type="button">
                                            <svg class="basket__icon">
                                                <use xlink:href="img/sprite.svg#close-icon"></use>
                                            </svg>
                                            <span class="visually-hidden">
                                                Закрыть корзину
                                            </span>
                                        </button>
                                    </div>
                                    <ul class="basket__body">
                                        <li class="basket__item">
                                            @include("../components/_product-card.html", {
                                            "section" : "basket",
                                            "img" : "products/product-1",
                                            "alt" : "Ананас",
                                            "name" : "Ананас, 1 кг",
                                            "productPrice" : "999",
                                            "price" : "1998"
                                            })
                                        </li>
                                        <li class="basket__item">
                                            @include("../components/_product-card.html", {
                                            "section" : "basket",
                                            "img" : "products/product-3",
                                            "alt" : "Питахайя красная с белой мякотью",
                                            "name" : "Питахайя красная с белой мякотью, 1шт",
                                            "productPrice" : "1019",
                                            "price" : "2038"
                                            })
                                        </li>
                                    </ul>
                                    <div class="basket__footer">
                                        <div class="basket__total">
                                            <p class="basket__subtitle">
                                                Товаров на сумму
                                            </p>
                                            <span class="basket__price">
                                                2038
                                                <span class="basket__currency">₽</span>
                                            </span>
                                        </div>
                                        <button class="basket__btn button button--normal" type="button">
                                            Оформить заказ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>