<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <a class="footer-top__logo logo" href="#">
                <img class="logo__img" src="img/svg/logo.svg" alt="логотип" width="200" height="60">
            </a>
            <div class="footer-top__inner">
                <div class="footer-top__newsletter">
                    <p class="footer-top__title">
                        Следите за нашими акциями
                    </p>
                    <form class="footer-top__form">
                        <label for="email" class="visually-hidden"></label>
                        <input class="footer-top__enter" id="email" type="email" name="email" placeholder="email@email.com" required>
                        <button class="button button--form" type="submit">
                            подписаться
                        </button>
                    </form>
                </div>
                <ul class="footer-top__items">
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Контакты
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Публичная оферта
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Вакансии
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Акции
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Отзывы
                        </a>
                    </li>
                    <li class="footer-top__item">
                        <a class="footer-top__link" href="#">
                            Новости
                        </a>
                    </li> 
                </ul>
        
                <address class="footer-top__contacts">
                    <p class="footer-top__text">
                        Горячая линия
                        <a class="footer-top__href" href="tel:+7907288365">
                            +7 907 288 365
                        </a>
                    </p>
                    <p class="footer-top__text">
                        Санкт-Петербург, ул. Ленина, 1
                    </p>
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <span class="visually-hidden">
                                    Открыть facebook
                                </span>
                                <svg class="social__icon">
                                    <use xlink:href="img/sprite.svg#facebook-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <span class="visually-hidden">
                                    Открыть youtube
                                </span>
                                <svg class="social__icon">
                                    <use xlink:href="img/sprite.svg#youtube-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <span class="visually-hidden">
                                    Открыть telegram
                                </span>
                                <svg class="social__icon">
                                    <use xlink:href="img/sprite.svg#telegram-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <span class="visually-hidden">
                                    Открыть instagram
                                </span>
                                <svg class="social__icon">
                                    <use xlink:href="img/sprite.svg#instagram-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__inner">
                <p class="footer-bottom__copy">
                    © 2021 фрешок
                </p>
                <ul class="footer-bottom__items">
                    <li class="footer-bottom__item">
                        <a class="footer-bottom__link" href="#">
                            <span class="visually-hidden">
                                Оплатить visa
                            </span>
                            <svg class="footer-bottom__icon footer-bottom__icon--big">
                                <use xlink:href="img/sprite.svg#visa-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-bottom__item">
                        <a class="footer-bottom__link" href="#">
                            <span class="visually-hidden">
                                Оплатить mastercard
                            </span>
                            <svg class="footer-bottom__icon">
                                <use xlink:href="img/sprite.svg#master-icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>