<header class="header">
    <div class="header-top">
        <div class="container">
            <nav class="header-top__inner">
                <button class="mobile" type="button">
                    <span class="visually-hidden">
                        Открыть меню
                    </span>
                    <span class="mobile__line"></span>
                </button>
                <div class="header-top__hrefs">
                    <a class="header-top__href" href="#">
                        <svg class="header-top__icon">
                            <use xlink:href="img/sprite.svg#delivery-icon"></use>
                        </svg>
                        <span class="header-top__href-text">
                            адрес и время доставки
                        </span>
                    </a>
                    <a class="header-top__href" href="#">
                        <svg class="header-top__icon">
                            <use xlink:href="img/sprite.svg#phone-icon"></use>
                        </svg>
                        <span class="header-top__href-text">
                            горячая линия 24/7
                        </span>
                    </a>
                </div>
                <ul class="header-top__items">
                    <li class="header-top__item">
                        <a class="header-top__link" href="#">
                            доставка
                        </a>
                    </li>
                    <li class="header-top__item">
                        <a class="header-top__link" href="#">
                            о нас
                        </a>
                    </li>
                    <li class="header-top__item">
                        <a class="header-top__link" href="#">
                            новости
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="mobile-menu">
        <div class="mobile-menu__top">
            <a class="mobile-menu__logo logo" href="#">
                <img class="logo__img" src="img/svg/logo-mobile.svg" alt="логотип" width="200" height="60">
            </a>
            <button class="mobile-menu__close" type=button>
                <span class="visually-hidden">
                    Закрыть меню
                </span>
                <svg class="mobile-menu__close-icon">
                    <use xlink:href="img/sprite.svg#close-icon"></use>
                </svg>
            </button>
        </div>
        <div class="mobile-menu__account">
            <svg class="mobile-menu__icon">
                <use xlink:href="img/sprite.svg#user-account-icon"></use>
            </svg>
            <a class="mobile-menu__href" href="#">
                Вход 
            </a> |
            <a class="mobile-menu__href" href="#">
                Регистрация 
            </a>
        </div>
        <button class="mobile-menu__btn" type="button">
            <span class="mobile-menu__line"></span>
            Каталог продуктов
        </button>
        <div class="mobile-menu__contacts">
            <a class="mobile-menu__contacts-link" href="tel:+7907288365">
                <svg class="mobile-menu__contacts-icon">
                    <use xlink:href="img/sprite.svg#phone-icon"></use>
                </svg>
                +7 907 288 365
            </a>
            <div class="mobile-menu__contacts-link">
                <svg class="mobile-menu__contacts-icon">
                    <use xlink:href="img/sprite.svg#pin-icon"></use>
                </svg>
                Санкт-Петербург, ул. Ленина, 1
            </div>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <span class="visually-hidden">
                            Открыть facebook
                        </span>
                        <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#facebook-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <span class="visually-hidden">
                            Открыть youtube
                        </span>
                        <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#youtube-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <span class="visually-hidden">
                            Открыть telegram
                        </span>
                        <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#telegram-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <span class="visually-hidden">
                            Открыть instagram
                        </span>
                        <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#instagram-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="mobile-menu__items">
            <li class="mobile-menu__item">
                <a class="mobail-menu__link" href="#">
                    Доставка
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    О нас
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Новости
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Контакты
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Акции
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Вакансии
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Отзывы
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Публичная оферта
                </a>
            </li>
        </ul>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__inner">
                <a class="header-bottom__logo logo" href="#">
                    <img class="logo__img" src="img/svg/logo.svg" alt="логотип" width="200" height="60">
                    <img class="logo__img logo__img--short" src="img/svg/logo-short.svg" alt="логотип" width="36" height="40">
                </a>
                <button class="button button--border header-bottom__btn" type="button">
                    <span class="header-bottom__line"></span>
                    Каталог продуктов
                </button>
                <div class="header-bottom__search search">
                    <div class="search__field">
                        <label class="visually-hidden" for="search"></label>
                        <input class="search__enter" id="search" type="text" placeholder="Найти в магазине ..." name="search">
                    </div>
                    <button class="button button--dark" type="button">
                        поиск
                    </button>
                </div>
                <div class="header-bottom__search search--mobile">
                    <div class="search__field">
                        <label class="visually-hidden" for="search-mobile"></label>
                        <input class="search__enter" type="text" id="search-mobile" name="search-mobile" placeholder="Я ищу ...">
                    </div>
                    <button class="button button--dark" type="button">
                        поиск
                    </button>
                </div>
                <div class="header-bottom__nav">
                    <button class="header-bottom__link header-bottom__link--search" type="button">
                        <span class="visually-hidden">
                            Поиск товара
                        </span>
                        <svg class="header-bottom__icon">
                            <use xlink:href="img/sprite.svg#search-icon"></use>
                        </svg>
                    </button>
                    <a class="header-bottom__link header-bottom__link--account" href="#">
                        <span class="visually-hidden">
                            Зарегистрироваться 
                        </span>
                        <svg class="header-bottom__icon">
                            <use xlink:href="img/sprite.svg#user-account-icon"></use>
                        </svg>
                    </a>
                    <a class="header-bottom__link header-bottom__link--like" href="#">
                        <span class="visually-hidden">
                            Понравившиеся товары
                        </span>
                        <svg class="header-bottom__icon">
                            <use xlink:href="img/sprite.svg#user-like-icon"></use>
                        </svg>
                        <span class="header-bottom__num">12</span>
                    </a>
                    <button class="header-bottom__link" type="button">
                        <span class="visually-hidden">
                            Корзина
                        </span>
                        <svg class="header-bottom__icon">
                            <use xlink:href="img/sprite.svg#user-basket-icon"></use>
                        </svg>
                        <span class="header-bottom__num">12</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>