.advantages {
    background-color: $silver-100;
    margin-bottom: 88px;

    @include max-w($lg) {
        margin-bottom: 64px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 48px;
        margin-bottom: -15px;

        @include max-w($md) {
            padding: 30px 0;
            justify-content: flex-start;
        }
    }

    &__item {
        display: flex;
        max-width: 264px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 50px 50px;
        padding-left: 72px;

        @include max-w($md) {
            max-width: 100%;
            background-size: contain;
        }
    }

    &__item:not(:last-child) {
        margin: 0 65px 34px 0;

        @include max-w($md) {
            margin-right: 0;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: $fw-600;
        margin-bottom: 6px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}