.banners {
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px -15px 0;
    }

    &__item {
        margin: 0 30px 15px 0;
        max-width: 300px;
        height: 300px;
        width: 100%;

        &--big {
            max-width: 630px;
        }

        @include max-w($md) {
            max-width: 100%;
        }
    }
}

.banner-card {
    height: 300px;
    text-transform: uppercase;
    color: $txt-normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include max-w($md) {
        padding-left: 17px;
    }

    &--big {
        .banner-card__content {
            max-width: 350px;
            color: $light;

            @include max-w($lm) {
                max-width: 260px;
            }
        }

        .banner-card__link,
        .banner-card__title {
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        }

        .banner-card__link {
            &::after {
                background-color: $light;
            }
        }

        .banner-card__text {
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
        }
    }

    &__content {
        max-width: 180px;
    }

    &__title,
    &__link {
        line-height: 1;
        font-weight: $fw-700;
    }

    &__title {
        font-size: 12px;
        margin-bottom: 17px;
        letter-spacing: 1px;
        @include line-clamp (12px, 1.4, 3);
    }

    &__text {
        font-family: $rd;
        font-weight: $fw-600;
        margin-bottom: 12px;
        @include line-clamp (30px, 1.4, 3);

        @include max-w($lg) {
            font-size: 24px;
            margin-bottom: 77px;
        }
    }

    &__link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: -6px;
            height: 2px;
            left: 0;
            background-color: $txt-normal;
        }
    }
}