.brands {
    margin-bottom: 76px;

    @include max-w($lg) {
        margin-bottom: 50px;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 140px;

            @include max-w($lg) {
                margin-right: 90px;
            }
        }
    }

    &__link {
        display: block;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__img {
        object-fit: contain;
        width: 80px;
        max-width: initial;
    }

    .slick-track {
        width: 100%;
        margin: 0 auto;
    }

    .slick-slide {
        margin-right: 140px;
    }
}