.brands {
    margin-bottom: 63px;

    @include max-w($lg) {
        margin-bottom: 45px;
    }

    &__img {
        object-fit: contain;
        
        max-width: initial;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-slide {
        &:not(:last-child) {
            margin-right: 140px;

            @include max-w($lg) {
                margin-right: 95px;
            }
        }
    }
}