.discount {
    background-color: $silver-100;
    padding: 74px 0;

    @include max-w($md) {
        padding: 48px 0;
    }

    &__title {
        @include max-w($md) {
            margin-bottom: 24px;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        margin: 0 -30px 17px 0;
        flex-wrap: wrap;

        @include max-w($lg) {
            margin: 0 -15px 12px 0;
        }
    }

    &__item {
        margin: 0 30px 30px 0;
        max-width: 300px;
        width: 100%;
        // min-height: 125px;
        position: relative;

        @include max-w($lg) {
            margin: 0 15px 15px 0;
        }
    }

    &__button {
        margin: 0 auto;
        font-size: 18px;
    }

    .product-card {
        flex-direction: row;
        padding: 12px;
        position: relative;

        @include max-w($md) {
            max-height: 124px;
        }

        &__left {
            display: flex;
            flex-direction: column;
        }

        &__badge {
            position: absolute;
            top: 12px;
            left: 12px;
            z-index: 1;
            letter-spacing: 0;
        }

        &__img {
            object-fit: contain;
            max-width: 100px;
            width: 100%;
            margin-bottom: 0;
        }

        &__link {
            margin-right: 12px;
        }

        &__descr {
            justify-content: space-between;
        }

        &__title {
            padding: 0;
            margin-bottom: 10px;
            @include line-clamp(14px, 1.4, 4);

            @include max-w($md) {
                margin-bottom: 5px;
            }
        }

        &__footer {
            padding: 0 20px 0 0;
            flex-direction: column;
        }

        &__prices {
            flex-direction: row;
            margin-right: 13px;
        }

        &__price {
            font-size: 20px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &--old {
                font-size: 12px;
                font-weight: 400;
            }
        }

        &__currency {
            font-size: 14px;
        }
    }
}