.main-slider {
    &__items {
        position: relative;
    }

    &__body {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__item {
        height: 600px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include max-w($lg) {
            height: 450px;
        }

        @include max-w($md) {
            height: 315px;
        }
    }

    &__inner {
        width: 100%;
        padding: 35px 40px 24px 35px;
        color: $txt-normal;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 6px;

        @include max-w($xl) {
            border-radius: 0;
            padding: 18px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 5px;
        font-weight: $fw-900;
        font-family: $rd;
        @include line-clamp(60, 1.3, 3);
        max-width: 765px;

        @include max-w($xl) {
            font-size: 50px;
        }

        @include max-w($lg) {
            font-size: 40px;
        }

        @include max-w($md) {
            font-size: 20px;
            max-width: 315px;
            margin-bottom: 15px;
        }
    }

    &__accent {
        color: $accent-dark;
    }

    &__text {
        max-width: 100%;
        font-weight: 400;
        margin-bottom: 32px;
        @include line-clamp(16, 1.4, 2);

        @include max-w($lg) {
            margin-bottom: 24px;
        }
    }

    .slick-dots {
        opacity: 0;
        justify-content: center;
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);

        li {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        button {
            width: 20px;
            height: 20px;
            font-size: 0;
            background-color: $light;
            border: 1px solid $bg-normal;
            border-radius: 50%;

            @include max-w($md) {
                width: 10px;
                height: 10px;
            }
        }

        @include max-w($xl) {
            display: flex;
            flex-direction: row;
            opacity: 1;
            bottom: 15px;
        }
    }

    .slick-active {
        button {
            background-color: $special;
            border: 0;
        }
    }

    .slick-next,
    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px 32px;
        z-index: 1;
        transition: background-color 0.3s, box-shadow 0.3s;

        &:hover {
            background-color: $special-normal;
        }

        &:active {
            box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
            background-color: $light100;
        }

        @include max-w($xl) {
            opacity: 0;
        }
    }

    .slick-prev {
        background-image: url("../img/svg/arrow-left.svg");
        left: 60px;

        &:hover,
        &:active {
            background-image: url("../img/svg/arrow-left-active.svg");
        }
    }

    .slick-next {
        background-image: url("../img/svg/arrow-right.svg");
        right: 60px;

        &:hover,
        &:active {
            background-image: url("../img/svg/arrow-right-active.svg");
        }
    }
}